numpy==1.26.4
spacy==3.7.5
pandas==2.2.2
beautifulsoup4==4.13.4
biopython==1.85
fasttext==0.9.3
PyYAML==6.0.2
scikit_learn==1.7.0
setuptools==80.6.0
mygene
datasets
gensim
opencv-python>=4.9.0.80
opencv-contrib-python>=4.9.0.80
opencv-python-headless>=4.9.0.80
albumentations==1.3.1
requests==2.32.4
rich==13.7.1
jedi>=0.16
pydrive2
